

<div class="home-container">
  <h2>Welcome to the Chat App</h2>
  <form (ngSubmit)="startChat()">
    <div>
      <input [(ngModel)]="username" name="username" placeholder="Enter your name" required>
    </div>
    <!--<script src="https://www.google.com/recaptcha/api.js?render=6LdUfDUqAAAAAKozxocfCWsvXmvONMkmFgR0MKFB"></script>-->
    <div class="g-recaptcha" data-sitekey="6LclhzUqAAAAAJT1QoEfH1kzUKt5iCzbN6My6QYJ"></div>
    <button type="submit">Start Chat</button>
  </form>
</div>
<!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->

